<a href="https://colab.research.google.com/github/ROARMarketingConcepts/Applied-Data-Science-with-Python-Specialization/blob/master/Lambda_Function_Drills.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a `lambda` function that takes $x$ as parameter and returns $x+2$. Then assign it to a variable named $L$.

In [ ]:
i=6

L=lambda x:x+2

L(6)

8

Write a `lambda` function which takes $z$ as a parameter and returns $z*11$. Assign it to variable named: $f$.

In [ ]:
i=2

f=lambda x:x*11

f(2)

22

Write a function which takes two arguments: $a$ and $b$ and returns the product of them: $a*b$. Assign it to a variable named: $f$.

In [ ]:
a,b=2,3

f=lambda a,b:a*b

f(a,b)

6

Using `.sort()` method, create a `lambda` function that sorts a list in descending order without using the `reverse` parameter.

(Hint: `lambda` will be passed to sort method's key parameter as argument)

In [ ]:
lst=[100,10,1000,1,9,999,99]

lst.sort(key=lambda x: 1/x)

lst

[1000, 999, 100, 99, 10, 9, 1]

Use the `sort()` function to sort the list in ascending order with `lambda`.

In [ ]:
lst=[100,10,1000,1,9,999,99]

lst.sort(key=lambda x:x)

lst

[1, 9, 10, 99, 100, 999, 1000]

Using the `sort()` function and `lambda`, sort the words in the list based on their second letter from a to z.

In [ ]:
lst=["otter", "whale", "goose", "chipmunk", "fox", "sheep", "rabbit", "marten"]
#Type your answer here.

lst.sort(key=lambda x:x[1])

print(lst)

['rabbit', 'marten', 'whale', 'chipmunk', 'sheep', 'goose', 'fox', 'otter']

Using the `sort()` function and `lambda`, sort the tuples in the list based on the second items.

In [ ]:
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]
#Type your answer here.

lst.sort(key=lambda x:x[1])

print(lst)

[(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

Using the `sort()` function and `lambda`, sort the tuples in the list based on the last character of the second items.

In [ ]:
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]
#Type your answer here.

lst.sort(key=lambda x:x[1][-1])

print(lst)

[(4887871, 'Alabama'), (1805832, 'West Virginia'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont')]

Using the `sort()` function, `reverse` parameter and `lambda`, sort the tuples in the list based on the last character of the second items in reverse order.

In [ ]:
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]
#Type your answer here.

lst=sorted(lst,key=lambda x:x[1][-1],reverse=True)

print(lst)

[(626299, 'Vermont'), (19542209, 'New York'), (1420491, 'Hawaii'), (4887871, 'Alabama'), (1805832, 'West Virginia'), (39865590, 'California')]

The `map()` function runs a `lambda` function over a list, building a list-like collection of the results, like this:

In [ ]:
list(map(lambda n: n * 2, [1, 2, 3, 4, 5]))

[2, 4, 6, 8, 10]

Another example....

In [ ]:
nums = [1, 2, 3, 4, 5]

map(lambda n: 2 * n, nums)

In [ ]:
list(map(lambda n: 2 * n, nums))

[2, 4, 6, 8, 10]

In [ ]:
strs = ['Summer', 'is', 'coming']

list(map(lambda s: s.upper() + '!', strs))

['SUMMER!', 'IS!', 'COMING!']

Populate a table using a `lambda` function.

In [1]:
tables = [lambda x=x: x*10 for x in range(1, 11)]
  
for table in tables:
    print(table())

10
20
30
40
50
60
70
80
90
100

Example of `lambda` function using `if-else`

In [2]:
Max = lambda a, b : a if(a > b) else b
  
print(Max(1, 2))

2

In [7]:
List = [[2,3,4],[1, 4, 16, 64],[3, 6, 9, 12]]
  
# Sort each sublist
sortList = lambda x: (sorted(i) for i in x)

# Get the second largest element
secondLargest = lambda x, f : [y[len(y)-2] for y in f(x)]
res = secondLargest(List, sortList)
  
print(res)

[3, 16, 9]

Python code to illustrate `map()` with `lambda()`.

In [15]:
animals = ['dog', 'cat', 'parrot', 'rabbit']
  
# here we intend to change all animal names
# to upper case and return the same
uppered_animals = map(lambda animal: str.upper(animal), animals)
  
for animal in uppered_animals:
  print(animal)

DOG
CAT
PARROT
RABBIT